<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - school</title>
    <link rel="icon" href="~/images/letterM.png">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@600&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap">
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styleIndex.css" />
    <link rel="stylesheet" href="~/css/bootstrap-toggle.min.css" />
    <link rel="stylesheet" href="~/css/jqeury-confirm.css" />



    <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        @RenderBody()

    }
    else
    {
        @RenderBody()

    }

    <script src="~/js/jquery-3.4.1.min.js "></script>
    <script src="~/js/custom-index.js "></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-toggle.min.js"></script>
    <script src="~/js/jquery-confirm.js"></script>

</body>
</html>
